#
# Goodix touchscreen driver configuration
#
menuconfig TOUCHSCREEN_GOODIX_BRL
	tristate "Goodix berlin touchscreen"
	help
	  Say Y here if you have a Goodix berlin series touch controller
	  to your system.

	  If unsure, say N.

config GOODIX_BRL_I2C
	tristate "support I2C bus connection"
	depends on I2C
	default y
	help
	  Say Y here if the touchscreen is connected via I2C bus.

	  To compile this driver as a module, choose M here.

config GOODIX_BRL_SPI
	tristate "support SPI bus connection"
	depends on SPI_MASTER
	help
	  Say Y here if the touchscreen is connected via SPI bus.

	  To compile this driver as a module, choose M here.

config GOODIX_BRL_TOOLS
	tristate "Goodix debug tools support"
	default y
	help
	  Say Y here to enable debug tools.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.

config GOODIX_BRL_GESTURE
	tristate "Goodix gesture support"
	help
	  Say Y here to enable gesture.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.

config GOODIX_BRL_INSPECT
	tristate "Goodix inspect support"
	help
	  Say Y here to enable inspect.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.
	  
endmenu
